body {
    margin: 2%;
    padding: 0;
    background-color: #FBF5F3;
    text-align: center;
}

/* add styling for main div elements on page*/
.grid {
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    
    "title title"
    "computer-area user-area"
    "result-area result-area"
    "buttons-area buttons-area"
    "rules-area rules-area"
    ;
}

.title {
    grid-area: title;
    color: #DE3C4B;
}

.computer-area {
    grid-area: computer-area;
    color: #000022;
}
.user-area {
    grid-area: user-area;
    color: #E28413;
}
.result-area {
    grid-area: result-area;
    background-color: #C42847;
}
.button-area {
    grid-area: buttons-area;
    background-color: #000022;
    margin:auto;
}
.rules-area {
    grid-area: rules-area;
    background-color: #E28413;
}
.button{
    padding:10px;
    margin: 25px;
    border-radius: 12px;
}

/* image styling*/

#rockpic {
    width:200px;
    height: auto;
}
